---
import "bootstrap/dist/css/bootstrap.css";
import '../js/script.js'
---


<div class="container">
    <header class="row">
        <div class="col d-flex justify-content-center align-items-center text-bg-primary mb-1 rounded-2 p-0">
            <h1>Hollis White - Kitchen Cabinets</h1>
        </div>            
    </header>


    <div class="row">
        <div class="col-md-6 cold-sm-1 px-0">
            <!-- Main image -->
            <img id="mainImage" src="./public/CT-343E-Granite.jpg" class="w-100 rounded-2 mb-1" width="450px" height="450px" alt="Main Image">
    
            <!-- Thumbnails -->
            <div class="row justify-content-center align-items-center g-2">
                <div class="col">
                    <img src="./public/CT-343E-Granite.jpg" class="w-100 rounded-2 thumbnail" width="550px" height="150px" alt="Thumbnail 1">
                </div>
                <div class="col">
                    <img src="./public/CT-343E-Granite.jpg" class="w-100 rounded-2 thumbnail" width="550px" height="150px" alt="Thumbnail 2">
                </div>
                <div class="col">
                    <img src="./public/CT-343E-Granite.jpg" class="w-100 rounded-2 thumbnail" width="550px" height="150px" alt="Thumbnail 3">
                </div>
            </div>
        </div>
    
        <div class="col-md-6 col-sm-1">
            <h2>Quartz Countertops</h2>
            <p>Description: </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, voluptas exercitationem suscipit nesciunt ducimus incidunt! Asperiores dolor enim odio maiores praesentium, necessitatibus laudantium deleniti corrupti minus nihil nobis earum atque maxime voluptatum suscipit voluptatem sequi soluta autem ut nisi! Soluta quo consequatur commodi iusto rem architecto illo nemo, in ad.</p>
            <h4>Price: $450.00</h4>
        </div>
    </div>    
</div>






